/* Grid */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 1em;
}

/* Widgets */
section {
  background: rgba(135, 200, 226, 0.5);
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 3em;
  text-align: center;
  color: #478ab1;
  /* Position time widget */
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  
  /* Add some padding */
  padding: 1em;
  
  /* Add a border */
  border-radius: 10px;
  
  /* Add a shadow */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 3em;
  text-align: center;
  color: #478ab1;
  /* Position time widget */
  grid-column: 1 / -1;
  grid-row: 3 / 3;
  
  /* Add some padding */
  padding: 1em;
  
  /* Add a border */
  border-radius: 10px;
  
  /* Add a shadow */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 3em;
  text-align: center;
  color: #333;
  /* Position time widget */
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  
  /* Add some padding */
  padding: 1em;
  
  /* Add a border */
  border-radius: 10px;
  
  /* Add a shadow */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.city {
  
}

.temp {
  
}

.weather img {
  
}

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 130vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}